$_color-vox-blue: #1683fb;
$_color-voss-blue: #136fd5;
$_color-red: #ff5a5a;
$_color-dark-red: #d64b4e;
$_color-yellow: #ffdf22;
$_color-green: #47b280;
$_color-neutral-blue: #5a7793;
$_color-black: #000;
$_color-grey-01: #2d343d;
$_color-grey-02: #39414d;
$_color-grey-03: #414954;
$_color-grey-04: #5e6670;
$_color-grey-05: #99a6b5;
$_color-grey-06: #c7d0d8;
$_color-grey-07: #e8ecf2;
$_color-grey-08: #f1f4f9;
$_color-grey-09: rgba(#5e6670, 0.45);
$_color-grey-10: rgba(#99a6b5, 0.5);
$_color-grey-11: rgba(#6b7885, 0.8);
$_color-grey-12: rgba(#99a6b5, 0.8);
$_color-grey-13: rgba(#99a6b5, 0.6);
$_color-white: #fff;

$_color-dark-red: #b73033;
$_color-viz-red: #f44336;
$_color-viz-pink: #e91e63;
$_color-viz-purple: #9c27b0;
$_color-viz-dark-purple: #851393;
$_color-viz-deep-purple: #673ab7;
$_color-viz-indigo: #3f51b5;
$_color-viz-blue: #2196f3;
$_color-viz-light-blue: #03a9f4;
$_color-viz-cyan: #00bcd4;
$_color-viz-teal: #009688;
$_color-viz-green: #4caf50;
$_color-viz-light-green: #8bc34a;
$_color-viz-lime: #cddc39;
$_color-viz-yellow: #ff3b3b;
$_color-viz-amber: #ffc107;
$_color-viz-orange: #ff9800;
$_color-viz-deep-orange: #ff5722;
$_color-viz-brown: #795548;

$_color-ax-vox-blue-light: #106ff9;
$_color-ax-voss-blue-light: #005ebd;
$_color-ax-vox-blue-dark: #20b6fd;
$_color-ax-voss-blue-dark: #027db6;
$_color-ax-green: #34836f;
$_color-ax-red: #da3a3a;
$_color-ax-yellow: #ffdf22;
$_color-ax-blue-grey: #5a7793;
$_color-ax-grey-01: #272c39;
$_color-ax-grey-02: #2d3443;
$_color-ax-grey-03: #39414d;
$_color-ax-grey-04: #414954;
$_color-ax-grey-05: #5e6670;
$_color-ax-grey-06: #6b7885;
$_color-ax-grey-07: #99a6b5;
$_color-ax-grey-08: #c7d0d8;
$_color-ax-grey-09: #e8ecf2;
$_color-ax-grey-10: #f1f4f9;

$_color-ax-viz-baby-blue: #ceedfd;
$_color-ax-viz-mint: #aff8cb;
$_color-ax-viz-light-orange: #ffe3c9;
$_color-ax-viz-caramel: #ffe28a;
$_color-ax-viz-light-green: #e1eb89;
$_color-ax-viz-rose: #f43a20;
$_color-ax-viz-ginger: #d85c00;
$_color-ax-viz-magenta: #eb377f;
$_color-ax-viz-emerald: #00918c;
$_color-ax-viz-pansy: #c248f0;
$_color-ax-viz-dark-pansy: #a630ca;
$_color-ax-viz-cruising: #008da9;
$_color-ax-viz-mahogany: #483331;
$_color-ax-viz-wood: #ffeb3b;
$_color-ax-viz-sacramento: #003d00;
$_color-ax-viz-prussian-blue: #253274;
$_color-ax-viz-eggplant: #432577;
