@import './dls-colors';

$dls-light-base: (
    color-default: $_color-ax-vox-blue-light,
    color-default-hover: $_color-ax-voss-blue-light,
    color-primary: $_color-ax-vox-blue-light,
    color-primary-hover: $_color-ax-voss-blue-light,
    color-neutral: $_color-neutral-blue,
    color-positive: $_color-ax-green,
    color-accent: $_color-viz-purple,
    color-accent-hover: $_color-viz-dark-purple,
    color-warn: $_color-ax-red,
    color-warn-hover: $_color-dark-red,
    color-caution: $_color-viz-amber,
    color-error: $_color-ax-red,
    color-error-hover: $_color-ax-viz-rose,
    color-alert: $_color-ax-red,
    color-warning: $_color-ax-red,
    color-negative: $_color-ax-red,
    color-required: $_color-ax-red,
    color-error-text: $_color-white,
    color-user-identity: $_color-ax-grey-06,
    color-mat-hint: $_color-ax-grey-06,
    color-label-disabled-text: $_color-grey-11,
    color-disabled-expansion-text: $_color-grey-09,
    color-default-background: $_color-ax-grey-09,
    color-default-text: $_color-ax-grey-01,
    color-secondary-text: $_color-ax-grey-05,
    color-tertiary-text: $_color-ax-grey-08,
    color-disabled-text: $_color-grey-11,
    color-disabled-background: $_color-ax-grey-09,
    color-disabled-background2: $_color-ax-grey-08,
    color-disabled-range: $_color-ax-grey-09,
    color-disabled-primary-background: $_color-ax-grey-09,
    color-disabled-border: $_color-ax-grey-08,
    color-form-disabled-border: $_color-ax-grey-08,
    color-panel-header: $_color-white,
    color-button-primary-text: $_color-white,
    color-disabled-checkbox-text: $_color-white,
    color-badge-text: $_color-white,
    color-button-secondary-border: $_color-ax-grey-08,
    color-button-secondary-text: $_color-ax-grey-06,
    color-button-secondary-border-hover: $_color-ax-grey-06,
    color-button-secondary-text-hover: $_color-ax-grey-03,
    color-input-placeholder: rgba(94, 102, 112, 0.7),
    color-input-border: $_color-ax-grey-08,
    color-input-border-active: $_color-ax-grey-06,
    color-input-background: $_color-white,
    color-input-icon: $_color-ax-grey-06,
    color-input-icon-active: $_color-ax-grey-06,
    color-input-icon-inverted: $_color-ax-grey-06,
    color-input-icon-inverted-active: $_color-white,
    color-input-toggle-checked: $_color-ax-vox-blue-light,
    color-input-toggle-checked-hover: $_color-ax-voss-blue-light,
    color-input-toggle: $_color-ax-grey-09,
    color-input-toggle-hover: $_color-ax-grey-10,
    color-input-toggle-text: $_color-ax-grey-01,
    color-input-dirty: $_color-neutral-blue,
    color-login-header: $_color-ax-grey-03,
    color-login: $_color-grey-08,
    color-login-content: $_color-white,
    color-logout-content: $_color-white,
    color-login-content-border: $_color-grey-06,
    color-popover-arrow: rgba($_color-grey-06, 0.65),
    color-dropdown-text: $_color-ax-grey-05,
    color-dropdown-hover: $_color-black,
    color-dropdown-hover-background: $_color-ax-voss-blue-light,
    color-navigation-background: $_color-ax-grey-03,
    color-navigation-text: $_color-ax-grey-07,
    color-navigation-selected: $_color-white,
    color-navigation-content-background: $_color-grey-08,
    color-navigation-toogle-open-color: $_color-grey-05,
    color-navigation-toogle-color: $_color-ax-grey-01,
    color-divider: $_color-ax-grey-08,
    color-container-background: $_color-white,
    color-container-border: $_color-ax-grey-08,
    color-container-hover: $_color-ax-grey-06,
    color-content-shadow: rgba(0, 0, 0, 0.5),
    color-control-background: $_color-ax-grey-08,
    color-progress-bar: $_color-ax-grey-09,
    color-disabled-slider: $_color-ax-grey-09,
    color-slider-handle: $_color-white,
    color-slider-text: $_color-white,
    color-calendar-header: $_color-ax-grey-01,
    color-calendar-header-text: rgba(0, 0, 0, 1),
    color-calendar-navigation: $_color-ax-grey-06,
    color-calendar-navigation-hover: $_color-white,
    color-calendar-navigation-disabled: $_color-ax-grey-03,
    color-calendar-hover: $_color-ax-grey-09,
    color-calendar-range: $_color-ax-grey-10,
    color-tooltip-background: $_color-ax-grey-03,
    color-tooltip-text: $_color-white,
    color-shadow: rgba(0, 0, 0, 0.25),
    color-modal-overlay: rgba(0, 0, 0, 0.4),
    color-modal-image-overlay: rgba(0, 0, 0, 0.7),
    color-modal-heading: $_color-white,
    color-modal-heading-background: $_color-ax-grey-01,
    color-gauge-track-background: $_color-ax-grey-09,
    color-project-specific-content: $_color-ax-grey-09,
    color-border-focus: $_color-ax-vox-blue-light,
    color-border-hover: $_color-ax-voss-blue-light,
    color-input-fill-background: $_color-ax-grey-10,
    color-dropzone-active-border: $_color-ax-voss-blue-light,
    color-dropzone-background: $_color-grey-08,
    color-dropzone-border: $_color-grey-06,
    color-standard-chip: $_color-grey-08,
    color-text-chip: $_color-ax-grey-01,
    color-standard-chip-hover: $_color-grey-06,
    color-text-chip-hover: $_color-ax-grey-01,
    color-chip-remove-icon: $_color-ax-grey-09,
    color-chip-remove-icon-hover: $_color-white,
    color-site-viz-red: $_color-viz-red,
    color-site-viz-pink: $_color-viz-pink,
    color-site-viz-purple: $_color-viz-purple,
    color-site-viz-deep-purple: $_color-viz-deep-purple,
    color-site-viz-indigo: $_color-viz-indigo,
    color-site-viz-blue: $_color-viz-blue,
    color-site-viz-light-blue: $_color-viz-light-blue,
    color-site-viz-cyan: $_color-viz-cyan,
    color-site-viz-teal: $_color-viz-teal,
    color-site-viz-green: $_color-viz-green,
    color-site-viz-light-green: $_color-viz-light-green,
    color-site-viz-lime: $_color-viz-lime,
    color-site-viz-yellow: $_color-viz-yellow,
    color-site-viz-amber: $_color-viz-amber,
    color-site-viz-orange: $_color-viz-orange,
    color-site-viz-deep-orange: $_color-viz-deep-orange,
    color-site-viz-brown: $_color-viz-brown,
    color-site-primary: $_color-voss-blue,
    color-site-principle-01: #8651bf,
    color-site-principle-02: #fe8856,
    color-site-principle-03: #308da6,
    color-site-principle-04: #1cb797,
    color-site-principle-05: #90ab5c,
    color-site-principle-06: #484cb0,
    color-site-attributes: #39414d,
    color-site-light: #fff,
    color-site-dark: #292f37,
    color-site-background: #f0f2f7,
    color-site-shadow: rgba(0, 0, 0, 0.3),
    color-data-table-border: $_color-grey-06,
    color-table-header: $_color_white,//$_color-grey-08,
    color-table-body:$_color_white,
    color-table-row-hover: $_color-ax-grey-10,
    color-table-row-selected: $_color_white,
    color-table-cell-selected: $_color-ax-viz-baby-blue,
    composite-border-width: 1px,
    composite-border-radius-container: 4px,
    composite-border-radius-input: 4px,
    card-animation-timing-easing: 0.5s ease-in-out,
    icon-width: 20px,
    icon-height: 20px,
    spinner-speed: 1.5s,
    spinner-size: 60px,
    spinner-width: 5px,
    login-width: 555px,
    modal-width: 460px,
    side-nav-width: 180px,
    panel-width: 285px,
    collapse-width: 12px,
    toggle-switch-transition-timing-easing: 0.2s ease-out,
    tooltip-arrow-size: 5px,
    view-grid-gutter: 20px,
    view-padding: 40px,
    view-button-min-width: 180px,
    view-button-font-size: 1.4rem,
    view-button-padding: 1.2rem 1.5rem,
    view-icon-button-size: 4rem,
    view-icon-button-svg-height: 2rem,
    view-icon-button-svg-width: 2rem,
    view-framework-side-nav-width: 180px,
    view-framework-side-nav-span-display: inline-block,
    view-framework-resize-display: flex,
    view-framework-heading-container-height: 90px,
    view-framework-modal-heading: 3rem 3rem 3rem 4rem,
    view-framework-modal-heading-font: 2.8rem,
    view-modal-close-button-width: 2.5rem,
    view-modal-close-button-height: 2rem,
    view-modal-content-padding: 4rem,
    view-modal-content-formRow-marginB: 3.5rem,
    view-modal-options-justify-content: flex-end,
    view-dropdown-padding: 1.1rem 4rem 1.1rem 1.5rem,
    view-dropdown-option-padding: 1.1rem 1.5rem,
    view-facet-taggle-list-minHeight: 40px,
    view-facet-taggle-list-option-padding: 1.1rem 1.5rem,
    view-facet-taggle-input-margin: 0.5rem 1.5rem 0,
    view-numeric-input-height-width: 4rem,
    view-search-field-padding: 1.1rem 4rem 1.1rem 1.5rem,
    view-search-field-icon-position: 0.9rem,
    view-search-field-option-padding: 1.1rem 1.5rem,
    view-search-field-icon-width: 2.5rem,
    view-search-field-icon-height: 2rem,
    view-text-input-padding: 1.1rem 1.5rem,
    view-toggle-switch-track-width: 8rem,
    view-toggle-switch-dimension: 4rem,
    view-text-transform: uppercase,
    view-pagination-dimensions: 4rem,
    view-pagination-arrow-left-position: 12px,
    view-pagination-arrow-right-position: 17px,
    view-tabs-control-dimension: 4rem,
    view-tabs-control-icon-dimension: 2rem,
    view-tooltip-font-size: 12px,
    view-input-icon-position: 12px,
    view-datepicker-padding: 1.1rem 4rem 1.1rem 1.5rem,
    view-nested-list-line-height: 3.5rem,
    view-nested-list-arrow-top: 1.9rem,
    view-nested-list-arrow-top-open: 2.1rem,
    view-expandable-header-padding: 0.9rem 1.6rem,
    view-expandable-content-padding: 3rem
);
