<slb-navigation-framework 
  [applicationLogo]="'assets/logos/delfi.png'"
  [applicationName]="'Staging'"
  [hasSidenav]="false" 
  [notifications]="false"
  [pageTitle]="pageTitle"
  [displayViewModeButtons] = "false"
>
  <slb-framework-toolbar>
    <ng-content *ngTemplateOutlet="toolbar"></ng-content>
  </slb-framework-toolbar>

  <slb-framework-content>
    <ng-content *ngTemplateOutlet="content"></ng-content>
  </slb-framework-content>

</slb-navigation-framework>

<ng-template #toolbar>
  <!-- * * * The content below is only a placeholder and can be replaced * * * -->
    <button slb-icon-button title="Duration">
      <mat-icon svgIcon="duration"></mat-icon>
    </button>
    <button slb-icon-button title="Weight">
      <mat-icon svgIcon="dashboard-2"></mat-icon>
    </button>
    <button slb-icon-button title="Status">
      <mat-icon svgIcon="settings"></mat-icon>
    </button>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
</ng-template>

<ng-template #content>
  <!-- * * * The content below is only a placeholder and can be replaced * * * -->
  <router-outlet></router-outlet>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
</ng-template>