<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.name}}
  </li>
</ul>

<slb-navigation-framework
  [applicationLogo]="'assets/logos/delfi-text.png'"
  [applicationName]="'Opportunity Assessor'"
  [menu]="menu"
  [hasSidenav]="true"
  [notifications]="true"
  [pageTitle]="pageTitle"
>
  <slb-framework-toolbar>
    <ng-content *ngTemplateOutlet="toolbar"></ng-content>
  </slb-framework-toolbar>

  <slb-framework-sidenav>
    <ng-content *ngTemplateOutlet="sidenav"></ng-content>
  </slb-framework-sidenav>

  <slb-framework-content>
    <ng-content *ngTemplateOutlet="content"></ng-content>
  </slb-framework-content>



  <!-- dls-slb navbar som det IKKE GÅR AN å bytte farge på -->
  <slb-framework-page-header
    class="header2"
    *ngIf="showHeader"
    [pageTitle]="pageTitle"
    [items]="secondaryLinks"
   
  > 
    
 </slb-framework-page-header>
 
</slb-navigation-framework>


<ng-template #toolbar>
  <!-- * * * The content below is only a placeholder and can be replaced * * * -->
  <section class="SIS">
    <p _ngcontent-qvy-c249 class="dp">
      <span class="textDP"> Data Partition: slb</span>
      <span class="dp-accountName _ngcontent-qvy-c249">SIS Internal HQ</span>
    </p>
  </section>
  <button slb-icon-button matTooltip="Help">
    <mat-icon svgIcon="help"></mat-icon>
  </button>
  <slb-logout [userName]="''"> </slb-logout>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
</ng-template>


<ng-template #sidenav>
  <mat-nav-list class="app-sidenav">
    <a
      class="dls-navigation-item"
      matTooltip="Home"
      [matTooltipPosition]="'right'"
      [routerLink]="['home']"
    >
      <mat-icon svgIcon="home"></mat-icon>
    </a>
    <a
      class="dls-navigation-item"
      matTooltip="Settings"
      [matTooltipPosition]="'right'"
      [routerLink]="['']"
    >
       <mat-icon svgIcon="settings"></mat-icon> 
    </a>
     <a
      class="dls-navigation-item"
      matTooltip="Prospect assesment"
      [matTooltipPosition]="'right'"
      [routerLink]="['']"
    >
      <mat-icon svgIcon="block-diagram"></mat-icon>
    </a>
  </mat-nav-list>
</ng-template>

<mat-menu #menu="matMenu">
  <a mat-menu-item matTooltip="Home" [routerLink]="['home']">
    <mat-icon svgIcon="home"></mat-icon>
    <span>Home</span>
  </a>
  <a mat-menu-item matTooltip="Notifications" [routerLink]="['notifications']">
    <mat-icon svgIcon="settings"></mat-icon>
    <span>Settings</span>
  </a>
  <a mat-menu-item matTooltip="Themes" [routerLink]="['themes']">
    <mat-icon svgIcon="block-diagram"></mat-icon>
    <span>Datamanagement</span>
  </a>
</mat-menu>

<ng-template #content>
  <!-- * * * The content below is only a placeholder and can be replaced * * * -->
  <router-outlet> </router-outlet>
</ng-template>
