<div class="app-content">
  <!-- <div class="collapsed-analysis-label ng-star-inserted _ngcontent-qvy-c453">
    <span _ngcontent-qvy-c453>All prospect analyses</span>
  </div> Enten går det ann å lage den sidebaren her, eller så får vi lage helt ny navbar og sidebar komponenter tenker jeg! -->

  <div _ngcontent-cod-c371 class="board-layout">
    <body>
      <div class="flexbox-container">
        <div
          class="flexbox-item mainlist"
          cdkDropList
          #componentList="cdkDropList"
          [cdkDropListData]="components"
          [cdkDropListConnectedTo]="doneList"
          (cdkDropListDropped)="onDrop($event)"
        >
          <mat-accordion
            class="flexbox-item"
            *ngFor="let todo of components"
            cdkDrag
          >
            <mat-expansion-panel
            class="panels"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
            expanded
            >
              <mat-expansion-panel-header>
                <mat-panel-title class="title">
                  {{ todo?.title }}</mat-panel-title
                >
                <mat-panel-description>
                  <!--<button>collapse</button> {{ panelOpenState ? "open" : "closed" }} -->
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="image-c">
                <mat-card-content
                  class="image-container"
                  *ngIf="!todo.collapsed"
                >
                  <img class="image" src="{{ todo.content }}" alt="image" />
                <!--  <button
                class="close"
                mat-button
                (click)="todo.cross = true"
                (click)="onNoClick()"
              >
                X
              </button> -->
                </mat-card-content>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <!--  <mat-card
            class="flexbox-item showncards"
            *ngFor="let todo of components"
            cdkDrag
          >
            <mat-card-actions class="headline">
              <mat-card-header class="title">
                <mat-card-title class="title">{{ todo?.title }}</mat-card-title>
              </mat-card-header>
              <div>
                <button
                  class="collapse"
                  mat-button
                  (click)="todo.collapsed = true"
                >
                  Collapse
                </button>
                <button
                  class="uncollapse"
                  mat-button
                  (click)="todo.collapsed = false"
                >
                  Uncollapse
                </button>
              </div>

              <button
                class="close"
                mat-button
                (click)="todo.cross = true"
                (click)="onNoClick()"
              >
                X
              </button>
             
            </mat-card-actions>

            <div class="imagec">
              <mat-card-content class="image-container" *ngIf="!todo.collapsed">
                <img class="image" src="{{ todo.content }}" alt="image" />
              </mat-card-content>
            </div>
          </mat-card> -->
        </div>

        <!--KEEPLIST-->
        <div
          class="keeplist"
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="completed"
          [cdkDropListConnectedTo]="[componentList]"
          (cdkDropListDropped)="onDrop($event)"
        >
          <h2>Inactive cards</h2>

          <div
            class="flexbox-item hiddencards"
            *ngFor="let complete of completed"
            cdkDrag
          >
            <mat-card-header matTooltip="{{this.complete.title + '-card'}}">
              <mat-card-title> {{ this.complete.title }}</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
          </div>
        </div>
      </div>
    </body>
  </div>
</div>
