<div class="center-container">
  <div class="center-content">
    <!-- <slb-card-group [spacing]="spacing"> -->
        <mat-card class="left-card">
            <!-- <mat-card-title>
              {{ bitDataService.serialID }}
            </mat-card-title> -->

            <mat-card-content>
                  <div class="grid">
                    <div class="serial-number">
                      {{ bitDataService.serialID }}
                    </div>
                    <div class="confirm-report">
                      <a color="primary" slb-button [routerLink]="['../main/dimensional']">
                        CONFIRM
                      </a>
                    
                      <button
                        (click)="openReport()"
                        class="tertiary"
                        color="primary"
                        slb-tertiary-button
                      >
                        REPORT A PROBLEM
                      </button>
                    </div>
                    
                    <div class="bit-summary">
                      <div class="row" *ngFor="let item of params" matLine>
                        <span class="params">{{ item }}</span>
                        <span>11111</span>
                      </div>
                    </div>
      
                    <div class="bit-model">
                      <app-Bit3D [height]="80" [width]="100" [configs]="configs"></app-Bit3D>
      
                      <!-- <button
                        (click)="openBom()"
                        slb-secondary-button
                      >
                        CUSTOMER ORDER & BOM DATA
                      </button> -->
                    </div>

                    <div class="setup-artifacts-box">
                      <div class="setup-artifacts">
                        SETUP ARTIFACTS
                      </div>
                    </div>

                  </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="right-card">
            <mat-card-content>
              <!-- <form #bolbolForm="ngForm" (ngSubmit)="onSubmitScanForm(bolbolForm)"> -->
                <!-- <mat-form-field slbFormField>
                  <mat-label>
                    Serial Number
                  </mat-label>
                  <input
                    type="text"
                    name="serialNumber"
                    [(ngModel)]="serialNumber"
                    matInput
                    placeholder="Ex: COQ1234..."
                    required
                  />
                </mat-form-field> -->
              <!-- </form> -->
            </mat-card-content>
          </mat-card>
  </div>
</div>
