<div style="height: 100%;">
    <div class="header">
        <span style="position: absolute; left: 40px;">Report</span>
        <button [mat-dialog-close]="true" mat-button>
          <mat-icon svgIcon="close"></mat-icon>
        </button>
      </div>
      
      <form #f="ngForm" (ngSubmit)="onSubmit(f)"
        style="
          display: flex;
          height: 80%;
          flex-direction: column;
          padding: 40px;
          overflow: auto;
        "
      >
        <mat-form-field appearance="standard" slbFormField>
          <mat-label>
            SUBJECT
          </mat-label>
          <input type="text" name="subject" matInput placeholder="" ngModel/>
        </mat-form-field>
      
        <mat-form-field appearance="standard" slbFormField>
          <mat-label>
            DESCRIPTION
          </mat-label>
          <textarea type="text" name="description" matInput placeholder="" rows="5" ngModel> </textarea>
        </mat-form-field>
      
        <div style="margin-top: 10%;">
          <button style="width: 40%;margin-right: 10%;" color="primary" type="submit" slb-button>
            SUBMIT
          </button>
          <button  [mat-dialog-close]="true" style="width: 40%;margin-left: 10%;" slb-secondary-button>
            CANCEL
          </button>
        </div>
      </form>
      
</div>
