<div class="dls-page-header-container">
    <slb-framework-page-header
        displayBackButton="true"
        pageTitle="Theme switching"
    >
        <button 
            slb-icon-button 
            type="button"
            (click)="_onButtonClick()"
        >
            <mat-icon svgIcon="wave-plot"></mat-icon>
        </button>
        <button
            slb-icon-button 
            type="button"
            (click)="_onButtonClick()"
        >
            <mat-icon svgIcon="layers"></mat-icon>
        </button>
        <button
            slb-button
            type="button"
            (click)="_onButtonClick()"
        >
            switch theme
        </button>
    </slb-framework-page-header>
</div>

<div class="app-content">
    <mat-slide-toggle [(ngModel)]="isDarkTheme" (change)="onThemeChange()">
        {{ isDarkTheme ? "Dark" : "Light" }}
    </mat-slide-toggle>
</div>